## LXC

# lxc-debconf
linux-container linux-container/debconf-frontend select noninteractive
linux-container linux-container/debconf-priority select critical

linux-container linux-container/distribution string squeeze
linux-container linux-container/architecture select 
linux-container linux-container/packages string 

linux-container linux-container/mirror string http://ftp.ch.debian.org/debian/
linux-container linux-container/mirror-security string http://ftp.ch.debian.org/debian-security/
linux-container linux-container/mirror-backports string http://ftp.ch.debian.org/debian-backports/

linux-container linux-container/archives multiselect squeeze-security, squeeze-updates, squeeze-backports
linux-container linux-container/archive-areas multiselect main

linux-container linux-container/auto boolean false
linux-container linux-container/capabilities string mac_admin mac_override sys_admin sys_module
#linux-container linux-container/mount0/comment string 
#linux-container linux-container/mount0/entry string 
linux-container linux-container/late-command string 
linux-container linux-container/late-host-command string 

# linux-container
linux-container linux-container/enable boolean true
linux-container linux-container/consoles string 6
linux-container linux-container/hostname string debian

linux-container linux-container/eth0/comment string The primary network interface
linux-container linux-container/eth0/dhcp boolean true
linux-container linux-container/eth0/mac string 00:FF:00:00:00:02
linux-container linux-container/eth0/bridge string br0
linux-container linux-container/eth0/veth string veth-debian

## System

# tzdata
tzdata tzdata/Areas select Europe
tzdata tzdata/Zones/Etc select UTC
tzdata tzdata/Zones/Europe select Zurich

# user-setup
user-setup passwd/make-user boolean true
user-setup passwd/user-fullname string System Administration
user-setup passwd/username string sysadmin
user-setup passwd/user-password password debian
user-setup passwd/user-password-again password debian
user-setup passwd/user-uid string 1000
user-setup passwd/user-default-groups string audio cdrom dip floppy video plugdev netdev powerdev scanner bluetooth
# wheezy
#user-setup passwd/user-default-groups string audio cdrom dip floppy video plugdev netdev powerdev scanner bluetooth debian-tor
user-setup passwd/root-login boolean true
user-setup passwd/root-password password debian
user-setup passwd/root-password-again password debian
user-setup passwd/shadow boolean true
