#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_CONFFILE="/etc/default/linux-container"

if [ -e "${_CONFFILE}" ]
then
	. ${_CONFFILE} || true

	db_set linux-container/enable "${LINUX_CONTAINER_ENABLE}"
	db_fset linux-container/enable seen false
fi

if [ -n "$(cat /etc/hostname 2> /dev/null)" ]
then
	db_set linux-container/hostname "$(cat /etc/hostname)"
	db_fset linux-container/hostname seen false
elif [ -x /usr/bin/lsb_release ]
then
	db_set linux-container/hostname "$(lsb_release -is | tr [A-Z] [a-z])"
	db_fset linux-container/hostname seen false
fi

db_settitle linux-container/title
db_input critical linux-container/enable || true
db_go

db_get linux-container/enable
LINUX_CONTAINER_ENABLE="${RET}" # boolean

if [ "${LINUX_CONTAINER_ENABLE}" = "false" ]
then
	db_stop

	exit 0
fi

db_settitle linux-container/title
db_input low linux-container/consoles || true
db_go

db_settitle linux-container/title
db_input high linux-container/hostname || true
db_go

db_settitle linux-container/title
db_input high linux-container/dhcp || true
db_go

db_get linux-container/dhcp
LINUX_CONTAINER_DHCP="${RET}" # boolean

if [ "${LINUX_CONTAINER_DHCP}" = "false" ]
then
	db_settitle linux-container/title
	db_input high linux-container/address || true
	db_go

	db_settitle linux-container/title
	db_input high linux-container/broadcast || true
	db_go

	db_settitle linux-container/title
	db_input high linux-container/gateway || true
	db_go

	db_settitle linux-container/title
	db_input high linux-container/netmask || true
	db_go

	db_settitle linux-container/title
	db_input high linux-container/network || true
	db_go

	db_settitle linux-container/title
	db_input high linux-container/nameservers || true
	db_go
fi

db_stop
