#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_CONFFILE="/etc/default/linux-container"

if [ -e "${_CONFFILE}" ]
then
	. ${_CONFFILE} || true

	db_set linux-container/enable "${LINUX_CONTAINER_ENABLE}"
	db_set linux-container/hostname "${LINUX_CONTAINER_HOSTNAME}"
fi

db_settitle linux-container/title
db_input critical linux-container/enable "${LINUX_CONTAINER_ENABLE}" || true
db_go

db_get linux-container/enable
LINUX_CONTAINER_ENABLE="${RET}"

if [ "${LINUX_CONTAINER_ENABLE}" = "true" ]
then
	db_settitle linux-container/title
	db_input high linux-container/hostname "${LINUX_CONTAINER_HOSTNAME}" || true
	db_go
fi

db_stop
