#!/bin/sh

set -e

. /usr/share/debconf/confmodule

_CONFFILE="/etc/default/lxc"

if [ -e "${_CONFFILE}" ]
then
	. ${_CONFFILE} || true

	db_set lxc/auto "${LXC_AUTO}"
	db_fset lxc/auto seen false

	db_set lxc/shutdown "${LXC_SHUTDOWN}"
	db_fset lxc/shutdown seen false

	db_set lxc/directory "${LXC_DIRECTORY}"
	db_fset lxc/directory seen false
fi

db_settitle lxc/title
db_input low lxc/auto "${LXC_AUTO}" || true
db_go

db_settitle lxc/title
db_input low lxc/shutdown "${LXC_SHUTDOWN}" || true
db_go

db_settitle lxc/title
db_input high lxc/directory "${LXC_DIRECTORY}" || true
db_go

db_stop
