#!/usr/bin/make -f

%:
	dh ${@} --with autotools_dev

override_dh_auto_configure:
	dh_auto_configure -- --libdir=\$${prefix}/lib/lxc --with-rootfs-path=\$${prefix}/lib/lxc --enable-doc

override_dh_auto_install:
	dh_auto_install

	# replacing upstreams debian template
	rm -f debian/tmp/usr/lib/lxc/templates/lxc-debian
	ln -s lxc-debconf debian/tmp/usr/lib/lxc/templates/lxc-debian
	ln -s lxc-debconf.d debian/tmp/usr/lib/lxc/templates/lxc-debian.d

	# adding progress template symlink
	ln -s lxc-debconf debian/tmp/usr/lib/lxc/templates/lxc-progress
	ln -s lxc-debconf.d debian/tmp/usr/lib/lxc/templates/lxc-progress.d

	# removing useless files
	rm -f debian/tmp/usr/lib/lxc/templates/lxc-busybox
	rm -f debian/tmp/usr/lib/lxc/templates/lxc-lenny

override_dh_builddeb:
	dh_builddeb -- -Zgzip -z9

override_dh_compress:
	dh_compress -X.cfg

override_dh_install:
	dh_install --fail-missing

override_dh_installinit:
	dh_installinit --no-restart-on-upgrade

override_dh_strip:
	dh_strip --dbg-package=lxc-dbg
